<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <title>Imagify</title>
        <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div id="content">
            
            <h2 th:if="${buscar}" style="color: white; margin-bottom: 0">Mostrando resultados para <span th:text="${busqueda}" style="color: purple"></span> </h2>
            
            <div class="gallery" style="margin-top: 50px">
                <div th:each="image : ${images}">
                    <img class="img item-img" th:src="@{/images/resources/{filename}(filename=${image.filename})}" alt="">
                    <div class="info-image hidden" th:data-id="${image.id}">
                        <h1 th:text="${image.title}"></h1>
                        <p th:text="${image.description}"></p>
                        <p class="category" th:text="${image.category.name}"></p>
                        <div class="tags">
                            <ul>
                                <li th:each="tag : ${image.tags}" th:text="${tag.name}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_container" class="modal-container">
            <div class="modal">
                <div class="photo-modal">
                    <div class="ipm content-img">
                        <img class="show-img" src="" alt="">
                    </div>
                    <div class="ipm">
                        <div class="box-info-img">
                            <h1 class="title">

                            </h1>
                            <p class="description">

                            </p>
                            <div>Categoria: 
                                <p class="category">
                                </p>
                            </div>
                            <div>Etiquetas: 
                                <p class="tags">
                                </p>
                            </div>
<!--                            <button id="btnEdit">Editar</button>-->
                            <button id="btnHide"><a href="#" id="hideImage">Ocultar</a></button>
                            <button id="btnShow"><a href="#" id="showImage">Publicar</a></button>
                            <button id="btnDelete"><a href="#" id="deleteImage">Eliminar</a></button>  
                            <button id="close">X</button>
                            <!-- <a href="./sukuna.jpg" download="nombre-imagen.jpg" class="download-button">Descargar Imagen</a>  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <script th:src="@{/js/app.js}"></script>
    </body>
</html>