<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <nav class="navbar" th:fragment="header">
            <a class="item-bar" th:href="@{/images}">
                <img class="icon-item-bar icon-logo" th:src="@{/imgs/logo.png}" alt="">
                Imagify
            </a>
            <form class="item-bar" method="GET" th:action="@{/images/buscar}">
                <input type="text" name="busq" placeholder="&#128269; Busqueda" id="busq">
                <button type="submit" class="hidden">Buscar</button>
            </form>
            <a class="item-bar" th:href="@{/images/create}">
                <img class="icon-item-bar" th:src="@{/imgs/usuario.png}" alt="">
            </a>
            <form method="POST" th:action="@{/logout}">
                <button type="submit" style="margin-bottom: 0">Exit</button>
            </form>
        </nav>
    </body>
</html>