
.form-container{
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: black 5px 5px 20px;
}
.form-container > h1{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #333;
}
.subtitulo {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    background-color: #f5f5f5;
    font-weight: 600;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
.footer-logo {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.container-form-p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-form-p .row{
    max-width: 50%;
    min-width: max-content
}
.input-form-log{
    border: none;
    outline: none;
    border-bottom: 2px solid #474747;
    margin-bottom: 20px;
    padding: 8px 0;
}
.form-container .icon-welcome {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btns-help .row{
    width: 100%;
    text-align: center;
}
.form-container p {
    text-align: center;
    font-size: 14px;
    color:#666;
}
.input-form-log:focus {
    border-bottom: 2px solid #4d004d;
}
/*Botton and links*/
.btn .btn-login-custom {
    background-color: #4d004d;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: backgroud-color 0.3s ease;
}
.btn-login-custom:hover {
    background-color: #4d004d;
    color: white;
}
.btn-login-custom i {
    margin-right: 10px;
}
/*link*/
.form-container a {
    color: #4d004d;
    font-weight: bold;
    text-decoration: none;
}
.form-container a:hover {
    text-decoration: underline;
}
