<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login - Imagify</title>
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
         <link rel="stylesheet" href="/css/styleU.css">
    </head>
    <body>
        <br>
        <br>
        <div class="container container-form-p">
            <div class="row">
                <div class="col-md-6-col-md-offset-3 form-container">
                    <h1>BIENVENIDO</h1>
                    <div class="icon-welcome">
                        <img src="{@/images/logo.png}" alt="Icon" width="50px">
                    </div>
                    <p class="subtitulo">Inicia sesión en tu cuenta.</p>
                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Usuario o contraseña inválidos.</div>
                        </div>
                        <div th:if="${param.Logout}">
                            <div class="alert alert-info">Ha cerrado sesión con éxito.</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="username">Usuario </label>
                            <input  id="username" name="username" type="text" class="form-control input-form-log" required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Contraseña </label>
                            <input id="password" name="password" type="password" class="form-control input-form-log" required autofocus="autofocus">
                        </div>

                        <div class="form-group btns-help">
                            <div class="row">
                                <div class="col-md-6-col-md-offset-3">
                                    <input type="submit" class="btn btn-login-custom" id="Login-submit" value="INICIAR SESIÓN"></input>
                                </div>
                                <div class="form-group">
                                    <span>
                                        ¿No tienes cuenta?<a th:href="@{/register}"> Regístrate aquí.</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <footer class="footer">    
            <img src="/images/logo.png" alt="Logo" class="footer-logo">
            <p>Imagify.com <br> Copyright © 2024 All rights reserved</p>
        </footer>
    </body>
</html>
