<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create account - Imagify</title>
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styleU.css">
    </head>
    <body>
        <br>
        <br>
        <div class="container container-form-p">
            <div class="row">
                <div class="col-md-6-col-md-offset-3 form-container">
                    <div th:if="${param.success}">
                        <div class="alert alert-info">Se ha registrado con éxito.</div>
                    </div>
                    <h1>CREATE YOUR ACCOUNT</h1>
                    <div class="icon-welcome">
                        <img th:src="@{/images/logo.png}" alt="Icon" width="50px">
                    </div>
                    <form th:action="@{/register}" method="post" th:object="${user}">
                        <!--Validación del nombre-->
                        <div class="form-group">
                            <label class="control-label" for="nombre">User </label>
                            <input id="nombre" type="text" class="form-control input-form-log" th:field="*{nombre}" 
                                   required pattern="[A-Za-z\s]{3,}" tittle="El nombre debe contener solo letras y al menos 3 caracteres"
                                   autofocus="autofocus">
                            <div th:if="${#fields.hasErrors('nombre')}" class="error" th:errors="{nombre}">Invalid name.</div> 
                        </div>
                        <!--Validación del email-->
                        <div class="form-group">
                            <label class="control-label" for="email">Email </label>
                            <input id="email" type="email" class="form-control input-form-log" th:field="*{email}" 
                                   required pattern="^[\w.%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" tittle="Ingrese un email válido"
                                   autofocus="autofocus">
                            <div th:if="${#fields.hasErrors('email')}" class="error" th:errors="{email}">Invalid name.</div>
                        </div>
                        <!--Validación de la contraseña -->
                        <div class="form-group">
                            <label class="control-label" for="password">Password  </label>
                            <input id="password" type="password" class="form-control input-form-log" th:field="*{password}" 
                                   required pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres"
                                   autofocus="autofocus">
                            <div th:if="${#fields.hasErrors('password')}" class="error" th:errors="{password}">Contraseña no válida.</div> 
                        </div>

                        <div class="form-group btns-help">
                            <div class="row"> 
                                <div class="text-center">
                                    <button type="submit" class="btn btn-login-custom">CREATE</button>
                                    <br>
                                    <span>
                                        Alredy have an account? <a th:href="@{/login}"> Log in.</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Imagify.com <img src="/images/logo.png" alt="Logo" class="footer-logo">
                <br> Copyright © 2024 All rights reserved</p>
        </footer>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>